<div id="#list-container" class="base-panel-wrapper">
    <div class="base-panel option-list-container" ng-class="{open: menuOpen}">
        <span class="panel-header">List of ad campaigns</span>
        <div class="view-style-container">
            <div class="style-container">
            <span class="tile-list-view">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
                <g>
                    <path d="M0,9h7v7H0V9z" fill="#cecece"/>
                    <path d="M0,0h7v7H0V0z" fill="#cecece"/>
                    <path d="M9,9h7v7H9V9z" fill="#cecece"/>
                    <path d="M9,0h7v7H9V0z" fill="#cecece"/>
                </g>
            </svg>
            </span>
            <span class="list-list-view">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 13 13" style="enable-background:new 0 0 13 13;" xml:space="preserve">
                    <g>
                        <path d="M3,3H0v3h3V3z M2,5H1V4h1V5z" fill="#cecece"/>
                        <path d="M4,3h9v1H4V3z" fill="#cecece"/>
                        <path d="M0,10h3V7H0V10z M1,8h1v1H1V8z" fill="#cecece"/>
                        <path d="M4,9h9v1H4V9z" fill="#cecece"/>
                        <path d="M4,5h9v1H4V5z" fill="#cecece"/>
                        <path d="M4,7h9v1H4V7z" fill="#cecece"/>
                    </g>
                </svg>
            </span>
            </div>
        </div>
        <ul class="option-list">
            <li class="option-list-item" ng-repeat="item in list track by item.name" ng-click="campaignItemClick(item)">
                <div class="image-container">
                    <div class="colour-container {{item.name.toLowerCase()}}"></div>
                </div>
                <div class="item-info-container">
                    <span class="type-name">{{item.name}}:{{item.id}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>