@media screen and (min-resolution: 2dppx) {
  html {
    font-size: 32px;
  }
}

@function getPxAsEm($px) {
  @return $px / 16 * 1em;
}

@function getPxAsRem($px) {
  @return $px / 16 * 1rem;
}

@function unitFree($number) {
  @return $number / ($number * 0 + 1);
}

@function getRem($px, $size:16px) {
  @if unit($px) == px {
    @return getPxAsRem(unitFree($px));
  } @else if unit($px) == rem {
    @return $px;
  } @else {
    @return ($unit/100%) * $size;
  }
}

@function getPxSize($unit, $size){
  @if unit($unit) == px {
    @return $size;
  } @else if unit($unit) == em {
    @return unitFree($unit)*$size;
  } @else {
    @return ($unit/100%) * $size;
  }
}

@function getEmAsPercent($em,$em-size,$size){
  @return percentage(( unitFree($em) * $em-size ) / $absSize);
}

@function getLineHeight($fontSize,$lineHeight){
  @return (($lineHeight/$emSize)/($fontSize / $emSize));
}

@function getLineHeightAsEm($fontSize, $lineHeight){
  @return getLineHeight($fontSize, $lineHeight)*1em;
}

@function getLineHeightAsRem($fontSize, $lineHeight){
  @return getLineHeight($fontSize, $lineHeight)*1rem;
}

$px1: getRem(1px);
$px2: getRem(2px);
$px10: 0.625rem;
$px12: 0.75rem;
$px14: 0.875rem;
$px16: 1rem;
$px18: 1.125rem;
$px20: 1.25rem;
$px24: 1.5rem;
$px30: 1.875rem;
$px32: 2rem;

html {
  background: #000;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

$headerHeight: 3rem + $px20;
$headerHeightOffset: $headerHeight + $px20;

#ad-header {
  position: relative;
  text-align: left;
  display: block;
  background: #e62117;
  z-index: 8999;
  height: $headerHeight;
  box-sizing: border-box;

  .header-text {
    display: block;
    font-size: 3rem;
    width: auto;
    color: white;
    line-height: 3rem;
    padding: $px10;
    box-sizing: border-box;
  }

  .options-action {
    width: getRem(40px);
    position: absolute;
    top: getRem(15px);
    left: getRem(12px);
    display: inline-block;
    cursor: pointer;

    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
    }
  }
}

@mixin getHeight($h) {
  $h:getRem($h);
  height:calc(100% - #{$h});
}

.bottom-spacer {
  display: block;
  position: relative;
  width: 100%;
  height: 1rem;
}

#ad-app {
  height: 100%;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;

  .main-container {
    display: block;
    position: relative;
    height: 100%;

    .main-body {
      box-sizing: border-box;
      position: relative;
      height: 100%;
      display: block;

      .base-panel {
        border: $px1 solid #e8e8e8;
        background: #fff;
        box-sizing: border-box;
        padding: $px10;

        .panel-header {
          color: #2f2f2f;
          font-weight: bolder;
          font-size: 2rem;
          margin: 0 0 getRem(15px) 0;
          display: block;
        }
      }

      .base-panel-wrapper {
        box-sizing: border-box;
        padding: $headerHeight $px10 0 $px10;
        position: absolute;
        width: 100%;
        height:100%;
        overflow: hidden;
        overflow-y: scroll;
        z-index: 7999;
      }

      .left-menu {
        border-top: none;
        border-bottom: none;
        border-left:none;
        height: calc(100% - 350px);
        position: absolute;
        left: 0;
        width: 0;
        display: inline-block;
        margin-top: 0;
        padding: 0;
        overflow: hidden;
        z-index: 8000;

        &.open {
          width: 150px;
          padding: 10px;
        }

        .inner-menu-panel {
          .menu-text {
            color: #000;
            font-size: 14px;
            font-weight: bold;
            display: block;
            cursor: pointer;
          }

          .cart-colour {
            color:#7d7d7d;
          }
        }
      }

      .option-list-container {
        position: relative;
        display: inline-block;
        right: 5%;
        left: 5%;
        top:0;
        margin-bottom: 5%;

        .view-style-container {
          position: absolute;
          right: $px10;
          top: $px10;
          width: getRem(52px);
          height: getRem(17px);

          display: none;

          .style-container {
            position: relative;

            .tile-list-view, .list-list-view {
              display: inline-block;
            }

            .tile-list-view {
              position: absolute;
              width: $px24;
              left: 0;
            }

            .list-list-view {
              position: absolute;
              height: getRem(31px);
              top: getRem(-7px);
              right: 0;
            }
          }
        }

        .option-list {
          .option-list-item {
            border-bottom: getRem(2px) solid #dbdbdb;
            padding: 0 0 getRem(9px) 0;
            margin: getRem(12px) 0 0 0;
            position: relative;

            &:first-child {
              margin-top: 0;
            }

            &:last-child {
              border: none;
              padding-bottom: 0;

            }

            .image-container {
              display: inline-block;

              $width: getRem(250px);
              $height: getRem(120px);

              .colour-container {
                width: $width;
                height: $height;
                display: block;

                &.red {
                  background: #ff0000;
                }

                &.green {
                  background: #00ff00;
                }

                &.blue {
                  background: #0000ff;
                }

                &.yellow {
                  background: #FFFF00
                }

                &.purple {
                  background: #ff00ff;
                }

                &.orange {
                  background: #FFA500;
                }
              }
            }

            .item-info-container {
              display: inline-block;
              width: calc(100% - getRem($width));
              position: absolute;
              right: $px10;
              height: 100%;

              &>div {
                display: inline-block;
              }

              .type-name {
                display: block;
                font-weight: bold;
                position: absolute;
                top: calc(50% - 8px);
                text-align: center;
                width: 100%;
              }

              .type-description {
                display: block;
                margin: 5px 0 0 0;
              }

              .type-price {
                display: block;
                position: absolute;
                bottom: 12px;
              }

              .quantity-controller {
                position: absolute;
                width: 110px;
                top: calc(100% - 60px);
                right: 0;

                span {
                  width: 48px;
                  height: 48px;
                  box-sizing: border-box;
                  display: inline-block;
                  position: absolute;
                  font-size: 36px;
                }
                .quantity-container {
                  text-align: right;
                  position: absolute;
                  left: -105px;
                  width: 100px;
                  top: 7px;

                  .quantity {
                    font-size: 32px;
                    position: relative;
                    width: 100%;
                    height: initial;
                  }
                }


                .subtract-item {
                  left: 0;
                }

                .add-item {
                  right: 0;
                }

                span.disabled {
                }
              }
            }
          }
        }
      }

      @media only screen and (max-width: 1598px) and (min-resolution: 2dppx) {
        .option-list-container {
          width: 90%;

          .option-list {
            font-size: 36px;

            .option-list-item {
              .image-container {

              }

              .item-info-container {
                width: calc(100% - 510px);
                right: 0;

                .type-name {
                  font-size: 2rem;
                  position: absolute;
                  top: calc(50% - 1rem);
                  width: 100%;
                }
              }

            }
          }
        }
      }

      @media only screen and (min-width: 1600px) {
        .option-list-container {
          max-width: 60%;
        }
      }

      @media only screen and (min-width: 1610px) {
        .option-list-container {
          min-width: 805px;
        }

      }
    }
  }
}

#dashboard-layover {
  .dashboard-overlay-wrapper {
    position: fixed;
    top: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.8);
    display: none;
    box-sizing:border-box;
    padding: 5%;

    &.show {
      display:block
    }

    .dashboard-overlay {
      position: relative;
      height: 100%;
      width: 100%;
      background: #fff;
      border: $px2 solid transparent;
      -webkit-border-radius: $px10;
      -moz-border-radius: $px10;
      border-radius: $px10;
      padding: getRem(20px);
      box-sizing: border-box;

      .close-button {
        position: absolute;
        top: getRem(5px);
        right: getRem(9px);
        cursor: pointer;
      }

      .dashboard-header {
        position: relative;
        top: getRem(-5px);
        font-weight: bold;
        font-size: getRem(20px);
      }

      .campaign-list {
        margin-top: $px10;

        .header-text {
          font-size:$px14;
          font-weight: bold;
          width:getRem(180px);
          display: inline-block;
        }

        .overall-data-container,.campaign-list-header {
          .list-title {
            font-weight:bold;
            font-size: 1rem;
          }

          .headers {
            span {
              @extend .header-text;
            }
            span.value {
              @extend .header-text;
              font-weight:normal;
            }
          }
        }

        .campaign-list-header {
          margin: $px10 0 0 0;
        }

        .campaign-list-item-wrapper {
          height: getRem(125px);
          overflow-y: scroll;

          .campaign-list-item {
            span {
              @extend .header-text;
              font-weight:normal;
            }
          }
        }
      }
    }
  }
}